
header{
    background: url(../img/top-min.png);
    background-size: cover;
    height:80rem;
    @include mq(tab) {
       height: 70rem; 
    }
    @include mq(sp) {
       background: url(../img/top-s-min.png);
       background-size: cover; 
       background-position: 35% 0;
       height: auto;
    }
}

.top-inner{
    position: relative;
    height: 80rem;
    @include mq(tab) {
       height: 70rem; 
    }
    @include mq(sp) {
       max-height: 43rem; 
    }
}

.top-logo{
    position: absolute;
    top: 1rem;
    left: 3rem;
    width: 25vw;
    max-width: 30rem;
    min-width: 20rem;
    &:hover{
        opacity: 0.5;
    }
    @include mq(sp) {
       display: none; 
    }
}


.top-pc-img1{
    position: absolute;
    top: 15%;
    left: 21%; 
    width: 26vw;
    min-width: 26rem;
    max-width: 33rem;
    &:hover{
        opacity: 0.5;
    }
    @include mq(tab) {
       top: 0;
       left: 13%; 
       max-width: 26rem;
    }
   
    @include mq(sp) {
       display: none; 
    }    
}

.top-sp-img1{
    display: none;
    @include mq(sp) {
       display: block;
       position: absolute;
       top: 8rem;
       left: 1rem; 
       width: 30vw;
       max-width: 15rem;
       
    } 
}

.top-pc-img2{
    position: absolute;
    top: 48%;
    left: 12%;
    width: 26vw;
    min-width: 28rem;
    max-width: 33rem;
    &:hover{
        opacity: 0.5;
    }
    @include mq(tab) {
       
       left: 0;
       bottom: 0; 
    }
    @include mq(sp) {
       display: none; 
    }
}
.top-sp-img2{
    display: none;
    @include mq(sp) {
       display: block;
       position: absolute;
       top: 13rem;
       left: 50%;
       transform: translateX(-50%); 
       width: 30vw;
       max-width: 15rem;
    }
}

.top-pc-img3{
    position: absolute;
    top: 25%;
    right: 22%;
    width: 16vw;
    min-width: 15rem;
    max-width: 20rem;
    &:hover{
        opacity: 0.5;
    }
    @include mq(tab) {
       right: 0; 
       max-width: 15rem;
    }
    @include mq(sp) {
       display: none; 
    }
}

.top-sp-img3{
    display: none;
    @include mq(sp) {
       display: block;
       position: absolute;
       top:18rem;
       right: 1rem; 
       width: 30vw;
       max-width: 15rem;
    }
}

.top-pc-wrapper1{
    @include mq(tab) { 
        position: absolute;
        top:15% ;
        left: 50%;
        transform: translateX(-50%);
        width: 68vw;
        max-width: 55rem;
    }

}
.top-pc-wrapper2{
    @include mq(tab) { 
        position: relative;
        height: 39rem;
    }
}

.header-nav{
    position: absolute;
    right: 0;
    top: 11rem;
    width: 12vw;
    max-width: 11rem;
    @include mq(tab) {
       right: 1rem; 
    }
    li{
        font-size: 1.6rem;
        padding: 3rem  0;
        @include mq(tab) {
           padding: 2rem 0; 
           font-size: clamp(14px, 2vw, 18px);
        }
        &:hover{
            font-size: 1.7rem;
            @include mq(tab) {
                font-size: 1.6rem; 
            }
        }

        a{
            position: relative;
            display: inline-block;
            text-decoration: none;
            &::after{
                position: absolute;
                bottom: -10px;
                left: 0;
                content: '';
                width: 100%;
                height: 2px;
                background:$color-accent;
                transform: scale(0, 1);
                transform-origin: left top;
                transition: transform .3s;
            }
            &:hover{
                &::after{
                    transform: scale(1, 1);
                }
            }
           }
        
    }
    @include mq(sp) {
       display: none; 
    }
}

.top-scroll{
    position: absolute;
    right: 5vw;
    bottom: 26% ;
    @include mq(sp) {
       display: none; 
    }
    @include mq(tab) {
       display: none; 
    }
}

.sp-header{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 7rem;
    &.is-show{
        background-color: $color-sub;
    }
    img{
        padding:1rem 0 0 2.5rem ;
        &:hover{
            opacity: 0.5;
        }
        @include mq(sp) {
           padding: 0 0 0 2.5rem;
        }
        
    }
    display: none;
    @include mq(sp) {
       display: block; 
    }
}

.drawer-icon{
    position: fixed;
    right: 30px;
    top:20px ;
    z-index: 15;
    
    transition: transform 0.5s ease 0s;
    &.is-click{
        transform: translateX(-200px);
        .drawer-icon-bar1{
            display: none;
        }
        .drawer-icon-bar2{
            transform: rotate(45deg);
        }
        .drawer-icon-bar3{
            transform: rotate(-45deg);
            top: 8px;
        }
    }
    display: none;
    @include mq(sp) {
       display: block; 
    }
}
.drawer-icon-bars{
    width: 22px;
    height: 20px;
    position: relative;
}

.drawer-icon-bar1,.drawer-icon-bar2,.drawer-icon-bar3{
    position: absolute;
    height: 4px;
    width: 22px;
    background: $color-text;
    top: 0;
    &.is-click{
        background: #fff;
    }
}

.drawer-icon-bar2{
    top: 8px;
}

.drawer-icon-bar3{
    top: 16px;
}

.drawer-content{
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 14;
    transform: translateX(105%);
    transition: transform 0.5s ease 0s;
    &.is-click{
        transform: translateX(0);
    }
}


.drawer-item{
    border-bottom: dotted #707070;
     a{
      display: block;
      padding: 20px 20px; 
      color: #707070; 
     }
 }
 
 .drawer-background{
     position: fixed;
     top: 0;
     left: 0;
     width:100% ;
     height:100%;
     z-index: 13;
     background: rgba($color-subaccent, 0.8);
     display: none;
     &.is-click{
         display: block;
     }
 }

