

.single-page-logo{
    position: absolute;
    top: 1rem;
    left: 5vw;
    width: 25vw;
    max-width: 28rem;
    min-width: 20rem;
    &:hover{
        opacity: 0.5;
    }
    @include mq(sp) {
       display: none; 
    }
}

.single-page-header{
    width: 100%;
    background-color: $color-main;
    height: 8rem;
    position: relative;
}
.single-page-nav-wrapper{
 display: flex;
}

.single-page-nav{
    display: flex;
    margin-left: auto;
    li{
        padding: 0 3rem;
        font-size: 1.6rem;
        line-height: 6rem;
        @include mq(tab) {
           padding: 0 2rem; 
        }
    }
    @include mq(sp) {
       display: none; 
    }
}


.page-profile-ttl{
    transform: translateY(6rem);
    @include mq(sp) {
       transform: translateY(4rem); 
    }
}

.page-profile-subttl{
    transform: translateY(6.5rem);
    @include mq(sp) {
       transform: translateY(5rem); 
    }
}

.profile-wrapper{
    margin: 24rem auto;
    max-width: 80rem;
    width: 90%;
    text-align: center;
    position: relative;
    @include mq(sp) {
        width: 100%;
        margin: 17rem auto;
    }
    &::after{
        content: url(../img/profile-cat-min.png);
        position: absolute;
        top: -11.5rem;
        right: 2rem;
        width: 30rem;
        height: 12rem;
        @include mq(sp) {
            content: url(../img/profile-cat-s-min.png);
            position: absolute;
            width: 15rem;
            height: 6rem; 
            top: -5.8rem;
            right:4rem;
        }
    }
}    
.profile-q{
    font-size: 2.2rem;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    height: 5rem;
    line-height: 3rem;
    border-radius: 5rem;
    letter-spacing: .2rem;
    background-color: $color-subaccent;
    position: relative;
    cursor: pointer;
    @include mq(sp) {
       font-size: clamp(14px, 3vw, 16px);
       padding: 1rem ; 
       margin-bottom: 2rem;
       height: 4rem;
       line-height: 2rem;
    }
    &::before{
        content: url(../img/profile-q-min.png);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 4rem;
        width: 4rem;
        height: 4rem;
        @include mq(sp) {
             left: 1.5rem;
             content: '';
             display: inline-block;
             width: 3rem;
             height: 3rem;
             background-image: url(../img/profile-q-min.png);
             background-size: contain;
             vertical-align: middle;
        }
    }
    &::after{
        content: "";
        position: absolute;
        right: 5rem;
        top: 50%;
        transition: all 0.2s ease-in-out;
        display: block;
        width: .8rem;
        height: .8rem;
        border-top: solid .2rem $color-text;
        border-right: solid .2rem $color-text;
        transform: translateY(-50%) rotate(135deg);

        @include mq(sp) {
           right: 2rem; 
        }
       }
}


.profile-a{
   font-size: 1.6rem;
   margin: 0 4rem 2rem ;
   padding:4rem ;
   line-height: 1.8;
   letter-spacing: .1rem;
   display: inline-block;
   text-align: left;
   background-color:$color-main; 
   border-radius: 4rem;
   @include mq(sp) {
      margin: 1rem 0 ; 
      font-size: clamp(14px, 3vw, 16px);
      padding: 2rem;
   }
   display: none;

}
    
.profile-q.open::after{
    transform: translateY(-50%) rotate(315deg);
    
}

.single-message{
  background-color: $color-main;
  margin-bottom: 10rem;
}

.single-message-wrapper{
   width:60% ;
   max-width: 60rem;
   padding: 3rem 0;
   margin: 0 auto;
   p{
       font-size:clamp(16px, 3vw, 18px) ;
       padding: 3rem;
       line-height: 1.5;
       text-align: left;
       letter-spacing: .2rem;
       @include mq(sp) {
          padding: 1.5rem 0; 
       }
   }
   @include mq(sp) {
      width: 80%; 
      font-size:clamp(14px, 3vw, 18px) ;
   }
}

.single-message-btn{
    text-align: center;
    margin: 3rem 0;
    a{
        padding: 2rem 4rem;
        border: .1rem solid $color-accent;
        color: $color-accent;
        background-color: white;
        border-radius: 3rem;
        &:hover{
            background-color: $color-accent;
            color: white;
        }
    }
}