
.single-page-works-ttl{
    margin-top: 5rem; 
    @include mq(sp) {
       margin-top: 9rem; 
    }

}



.works-list-wrapper{
    margin-bottom: 6rem;
}


.works-list-item{
    display: grid;
    gap: 2rem;
    margin:8rem 3rem ;
    grid-template-columns: repeat(auto-fit, minmax(28rem,1fr ));

    @include mq(sp) {
       margin: 5rem 0; 
    }
}

.works-list-item-li{
    background-color: $color-main;
    text-align: center;
    margin-bottom: 3rem;
    border-radius: 1rem;
    @include mq(sp) {
       width: 98%; 
       margin-right: 0;
    }
    dt{
        font-size: 1.8rem;
        margin: 3rem 0 1.5rem 0;
        
    }
    dd{
        font-size: 1.6rem;
        margin: 3rem 4rem;
        position: relative;
        letter-spacing: .2rem;
        padding-left: 2rem;
        line-height: 1.5;
        display: inline-block;
        text-align: left;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: .4rem;
            height: 2em;
            background-color: $color-accent;
        }
        &.works-list-img3{
            font-size: 1.4rem;
        }
        &.works-list-img4{
            font-size: 1.4rem;
        }
        &.works-list-img5{
            font-size: 1.4rem;
        }
    }
}


.works-list-img{
    padding-top: 3rem;
    margin-left: 1rem;
    img{
        &:hover{
            transform: scale(1.1);
            transition-duration: 0.3s;
            opacity: 0.7;
        }
    }

}

.works-more-btn{
    margin: 0 auto 3rem;
    &:hover{
        background-color: white;
        color: $color-sub;
        border:2px solid $color-sub;
        box-shadow: .2rem .2rem .4rem $color-sub;

    }
    a{
        padding: 1rem 2rem;
        height: 3.3rem;
        line-height: 3.3rem;
    }
}
