

.works-single{
    margin: 6rem auto;
}

.works-single-ttl{
    font-size: clamp(14px, 3vw, 20px);
    text-align: center;
    margin-bottom: 1rem;
    @include mq(sp) {
       font-size: 1.6rem; 
    }
}

.works-single-ttl-goods{
    text-align: center;
}

.works-single-wrapper{
    display: flex;
    margin-top: 3rem;
    @include mq(sp) {
       margin-top: 2rem;
       flex-direction: column-reverse;
       
    }
}

.works-single-text{
    width: 50%;
    // padding-top: 2rem;
    @include mq(tab) {
       padding-left: 1rem; 
    }
    @include mq(sp) {
       width: 100%; 
    }
    
        li{
            font-size: 1.4rem;
            margin-top: 2rem;
            position: relative;
            padding-left: 2rem;
            @include mq(tab) {
               margin-top: 1rem; 
            }
            @include mq(sp) {
               margin-left: 1.5rem; 
            }
            &::before{
                content: url(../img/pencil-square.png);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 2rem;
                height: 2rem;
            }
        }
}

.works-single-subttl{
    font-size: clamp(14px, 2vw, 18px);
    margin:3rem 0 ;
    padding-left: 1.5rem;
    line-height: 1.2;
    position: relative;
    @include mq(sp) {
       font-size: 1.6rem;
       margin: 1rem 1rem 3rem ;
    }
    &::before{
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 0.5rem;
        height: 2em;
        background-color: $color-accent;
    }

}

.works-single-img{
    width: 50%;
    display: flex;
    align-items: center;
    &:hover{
        opacity: 0.5;
    }
    @include mq(sp) {
       width: 100%; 
    }
}

.works-single-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-accent;
    width: 20rem;
    margin: 0 auto;
    border-radius: 3rem;
    font-weight: bold;
    font-size: 1.4rem;
    box-shadow: .2rem .2rem .4rem gray;
    &:hover{
        box-shadow: none;
        background-color: white;
        color: $color-accent;
        border: 2px solid $color-accent;
    }
    @include mq(sp) {
       width: 15rem; 
       font-size: 1.2rem;
       margin-top: 4rem;
    }
    a{
        padding: 2rem 2.5rem;
        position: relative;
        @include mq(sp) {
           padding: 1.5rem 1.5rem; 
        }
        &::after{
            // position: absolute;
            // content: url(../img/arrow-right.png);
            // top: 30%;
            // right: -1rem;
            // width: 1rem;
            // height: 1rem;
            // @include mq(sp) {
            //   content: url(../img/arrow-right-black-s.png);
            //   top: 37%;
            // }
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            display: block;
            width: .8rem;
            height: .8rem;
            border-top: solid .2rem $color-text;
            border-right: solid .2rem $color-text;
            transform: translateY(-50%) rotate(50deg);
            }
        &:hover{
            &::after{
                border-top: solid .2rem $color-accent;
                border-right: solid .2rem $color-accent;
            }
        }
        
    }
}

.works-view{
 width: 100%;
display: flex;
justify-content: space-around;
margin-bottom: 3rem;
margin-top: 10rem;
  @include mq(sp) {
     display: block; 
  }
  @include mq(tab) {
     width: 90%; 
     margin: 3rem auto;
  }
}

.works-view-pc{
    width: 47vw;
    @include mq(sp) {
       width: 100%; 
    }
}
.works-view-sp{
    width: 26vw;
    @include mq(sp) {
       display: none; 
    }
}

.works-single-btn-wrap{
    height: 5rem;
    margin: 4rem 0 9rem;
}